<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="about-me">
        {{>header}}
        <img class="portrait" src="/img/myphoto.png">
        <p class='about-text'>{{about1}}</p>
        <p class='about-text'>{{about2}} <a href="https://www.linkedin.com/in/erickfecruz/">Linkedin</a></p>
    </div>
    
    {{>footer}}
</body>

</html>