<header>
    <h1><b>Weather Forecast App</b></h1>
</header>

<p class="page-selection">
    <a href="/">Weather</a>
    <a href="/help">Help</a>
    <a href="/about">About</a>
</p>

<p class="blank-space-header">
</p>

<p class="page-name">
    <h2>{{title}}</h2>
</p>
